div.woocommerce-checkout:contains("Checkout") {
  display: none;
}
.woocommerce {
  .wpmc-steps-wrapper {
    #checkout_coupon div {
      display: none;
    }

    .woocommerce-checkout .wpmc-step-item {
      #order_review table {
        border: none;

        thead,
        tbody {
          display: none;
        }
        tfoot {
          .cart-subtotal,
          .order-total {
            display: none;
          }
          tr {
            th,
            td {
              border: none;
              padding: 0;
            }
            th {
              display: none;
            }
            td ul {
              margin-bottom: 15%;
              li {
                border: 1px solid #d1d1d8;
                border-radius: 7px;
                padding: 24px 0;
                padding-left: 24px;
                display: flex;
                flex-direction: row;

                input[type="radio"] {
                  appearance: none;
                  -webkit-appearance: none;
                  height: 17px;
                  width: 17px;
                  border-radius: 50%;
                  border: 1px solid black;
                  cursor: pointer;

                  &:checked {
                    background-color: white;
                    border-color: black;

                    &::before {
                      content: "";
                      display: block;
                      width: 11px;
                      height: 11px;
                      border-radius: 50%;
                      background-color: black;
                      position: relative;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                    }
                  }
                  &:checked + label {
                    color: #000000;
                  }

                  &:not(:checked) + label {
                    color: #a2a3b1;
                  }
                  &:checked + label bdi {
                    color: #000000;
                  }

                  &:not(:checked) + label bdi {
                    color: #a2a3b1;
                  }
                }
                label {
                  display: flex;
                  flex-direction: row-reverse;
                  justify-content: flex-end;
                  margin-left: 1%;
                  width: 100%;
                  font-weight: 400;
                  font-size: 16px;
                  color: #a2a3b1;

                  &::after {
                    content: ""; /* Empty content to hide the colon */
                  }

                  .woocommerce-Price-amount {
                    margin-right: 2%;
                    font-weight: 500;
                    color: #a2a3b1;
                  }
                }
              }
            }
          }
        }
      }
      .order-summary {
        border: 1px solid #ebebeb;
        border-radius: 10px;
        padding: 4%;

        div {
          background-color: #00000000;
          padding: 0;
          margin-top: 0;
          h2 {
            font-size: 14px;
            font-weight: 500;
            color: #545454;
            margin-bottom: 5px;
          }
        }
        .order-subtotal,
        .order-taxes,
        .order-shipping,
        .order-total,
        .order-subtotal h2,
        .order-taxes h2,
        .order-shipping h2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 16px;
          font-weight: 500;
        }
        .order-subtotal h2,
        .order-shipping h2 {
          color: $primary_text_color;
        }
        .order-total {
          display: flex;
          align-items: center;
        }
        .order-products {
          margin-top: 0;
          h2 {
            font-size: 20px;
            weight: 500;
            color: $primary_text_color;
            margin-top: 0;
          }
          .product-item {
            padding: 2%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 13px;
            background-color: #f6f6f6;
            margin: 4% 0;
            padding: 2.5% 5%;

            .product-thumbnail {
              padding: 0;
              margin-top: 0;
              img {
                width: 50px;
              }
            }
            .product-details {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 0;
              width: 100%;
              margin-top: 0;

              .product-name {
                font-size: 16px;
                font-weight: 500;
                padding: 0 2%;
                min-width: 60%;
                max-width: 60%;
              }
              .product-quantity,
              .product-subtotal {
                font-weight: 500;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
              }
            }
          }
        }
        .order-address div {
          display: flex;
          flex-direction: row;
          font-weight: 400;
          font-size: 16px;
          color: $primary_text_color;
          margin-top: 0;
          letter-spacing: 0.5px;
        }
      }
    }
    .woocommerce-shipping-fields {
      margin-top: 3%;
    }
    .woocommerce-additional-fields div p span textarea {
      padding: 15px;
    }
    .shipping_address {
      padding: 0;

      div p span #shipping_address_2 {
        display: none;
      }
    }
    form {
      margin-top: 5%;
      div div div {
        margin-top: 3%;
        background-color: #f5f5f5;
        padding: 5% 10%;
        border-radius: 7px;

        p {
          label {
            color: #17183b;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0.8%;
            abbr {
              display: none;
            }
          }
          span {
            #billing_address_2 {
              display: none;
            }
            input {
              padding: 10px;
              padding-left: 25px;
              font-size: 14px;
              font-weight: 500;
              width: 100%;
              border-radius: 8px;
              border-color: #e1e1e1;
              background-color: #ffffff;
              border: 1px solid #ffffff;
              margin-bottom: 5%;
            }
            select {
              font-size: 14px;
              font-weight: 500;
              width: 100%;
              border-color: #e1e1e1;
              background-color: #ffffff;
              border-radius: 10px;
              padding-top: 5%;
            }
            span span .select2-selection {
              padding-bottom: 4%;
              padding-top: 1%;
              padding-left: 2%;
              border: 1px solid #ffffff;
              margin-bottom: 0.5%;

              .select2-selection__arrow {
                padding-top: 2.5%;
                padding-right: 2%;
              }

              .select2-selection__rendered {
                position: relative;
                border: none;
              }
            }
          }
        }
      }
    }
    .wpmc-step-payment {
      .woocommerce-checkout-payment,
      .order-summary {
        display: inline;
        width: 42%;
        vertical-align: top;
      }
      .order-summary {
        float: left;
      }
      .woocommerce-checkout-payment {
        float: right;
      }
      #payment {
        background: none;
        ul.payment_methods {
          background-color: white;
          position: relative;
          padding: 7% 0;
          border: none;
          padding-bottom: 1%;
          .wc_payment_method.payment_method_cod label,
          .wc_payment_method.payment_method_cod input {
            position: absolute;
            top: 0;
            width: 100%;
          }
          .wc_payment_method.payment_method_stripe
            label[for="payment_method_stripe"],
          .wc_payment_method.payment_method_stripe input {
            position: absolute;
            top: 0;
            right: 3%;
          }

          li {
            input {
              display: none;
            }
            .payment_box {
              background-color: white;

              &::before {
                display: none;
              }
              #wc-stripe-cc-form {
                &::before {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 280px;
                  background-image: url("../images/bankcard.png");
                  background-size: contain;
                  background-position: left;
                  background-repeat: no-repeat;
                  margin: 0;
                }
              }
              div {
                label {
                  display: none;
                }
                .stripe-card-group {
                  font-size: 14px;
                  font-weight: 500;
                  width: 100%;
                  border-radius: 8px;
                  border-color: #e1e1e1;
                  background-color: #ffffff;
                  border: 1px solid #ffffff;
                  margin-bottom: 5%;
                }
              }
              fieldset:nth-of-type(2) {
                display: none;
              }
            }
            div {
              padding: 0;
              margin: 0;
              background-color: white;

              p {
                font-size: 16px;
                font-weight: 400;
                padding-bottom: 0;
              }
            }
          }
        }
        .place-order {
          background-color: white;
          margin-top: 5%;
          padding: 0;

          div {
            background-color: white;
            margin-top: 0;
            padding: 0;
            border: none;
          }
          .woocommerce-terms-and-conditions-wrapper {
            p label span {
              font-size: 14px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
      #place_order {
        font-size: 16px;
        font-size: 500;
        border-radius: 6px;
        padding: 20px;
        width: 200px;
        border: 1px solid #000000;
        background-color: #000000;
        margin-top: 10%;
      }
    }
  }
  .wpmc-nav-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 5%;
    button#wpmc-back-to-cart {
      margin: 0;
    }
    .button {
      margin: 0;
      font-size: 16px;
      font-size: 500;
      border-radius: 6px;
      padding: 20px;
      width: 200px;
      border: 1px solid #000000;
    }
    #wpmc-next {
      background-color: #000000;
      color: #fff;
    }
    button#wpmc-prev.current {
      display: none !important;
    }
    #wpmc-back-to-cart {
      background-color: #fff;
      color: #000000;
      border: 1px solid #000000;
    }
  }
}

#wc-stripe-cc-form .StripeElement {
  padding: 10px !important;
}
