main.content-frontpage{
    width: 100%;
    .hero{
        padding: $general-margin;
        height: 100vh;
        background: linear-gradient(90.7deg, #211c24 0.64%, #211c24 101%);
        .wp-block-media-text__content{
            .small_text_1{
                font-size: 25px;
                font-weight: 600;
                margin-left:0;
                line-height: 32px;
                color: #FFFFFF;
                opacity: 50%;
            }
            .main_rubrik{
                font-size: 96px;
                line-height: 72px;
                margin-top: 0;
                margin-bottom: 0;
                letter-spacing:-1;
                color:#FFFFFF;
                font-weight: 200;
                .pro{
                    font-weight: 600;
                }

            }
            .small_para_after{
                font-size: 18px;
                color: #FFFFFF;
                opacity: 50%;
                font-weight: 500;
                margin-left:0;
                line-height: 24px;
            }
            .wp-block-buttons{
                .hero_btn{
                    
                    padding: 1% 3% 1% 3%;
                    border: 1px solid #FFFFFF;
                    background-color: transparent;
                    border-radius: 6px;
                    a{
                        background-color: transparent;
                    }
                }
            }
        }

        .wp-block-media-text__media{
            display: flex;
            justify-content: right;
            margin-left: 0;
            img{
                height:90.6vh;
                width: 80%;
            }
        }
    }
    
    
.small_banners {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
}
.playstation {
	grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-evenly;
    .text{
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left; 
        align-items: left;
        height:inherit;

        p{
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #909090;
        }
       
    }
}
.pods_container {
   /*  height: 10vh; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-area: 2 / 1 / 3 / 2;
    background-color: #EDEDED;
}
.air_pods_max {
	grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-evenly;
    .text{
        /* margin-right: 5%; */
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left; 
        align-items: left;
        height:inherit;
        padding: 7%;
        h2{
            padding-left: 10%;
            padding-right: 15%;
            font-weight: 300;
           /*  width: 30%; */
            .bold{
                font-weight: 500;
            }
        }
        p{
            padding-left: 7%;
            padding-right: 7%;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #909090;
        }
       
    }
}
.apple_vision_pro {
	grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-evenly;
    background-color: $secondary_bckg_color;
    .text{
       /*  margin-right: 5%; */
       width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left; 
        align-items: left;
        height:inherit;
       
        color: #FFFFFF;
        padding: 7%; 
       
        h2{
            padding-left: 7%;
            padding-right: 7%;
            font-weight: 300;
            .bold{
                font-weight: 500;
            }
        }
        p{
            padding-left: 7%;
            padding-right: 7%;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #909090;
        }
       
    }
}
.macbook {
	grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: space-evenly;
    background-color: #EDEDED;
    ;
    img{
        padding: 5% 0%;
    }
    .mac_text{
        /* margin-right: 5%; */
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left; 
        align-items: left;
        height:inherit;
        h1{
            font-weight: 300;
            font-size: 64px;
            line-height: 56px;
            margin-bottom: 0;
            .bold{
                font-weight: 500;
                font-size: 64px;
                line-height: 56px;
            }
        }
        p{
            font-weight: 500;
            size: 14px;
            line-height: 24px;
            color: #909090;
        }
        button{
            width: 40%;
            border: 1px solid black;
            border-radius: 6px;
            padding: 4% 3% 4% 3%;
            a{
                width:auto;
                color: black;
                font-weight: 500;
                font-size: 16px;
            }
        }
       
    }
}

/* ------------------------------------------------------------------------ */

 /* ------------------------------------------------------------- */ 
 
 .wp-block-columns-is-layout-flex  {
    background-color: #FAFAFA;
    padding: $general-margin;
    padding-top: 0;
   /*  margin-top: 2%; */
    .cat_colum {
        background-color: #EDEDED;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 24px 38px 24px 38px;
        figure{
            margin: 0;
        }
        h4{
            margin-top: 0;
        }
    }
 }  
 .brows_cat_h3{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 5%;
    .wp-block-column{
        .wp-block-buttons{
            .wp-block-button{
                background-color: transparent;
                a{
                    color: black;
                    background-color: transparent;
                }
            }
        }
    }
 }


 .new_arrivals{
   /*  margin-left: 10%;
    margin-right: 10%; */
    height: 100vh;
    padding: 10%;
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        li.wc-block-grid__product{
            flex: 1 0 calc(25% - 20px); 
             background-color: #f6f6f6;
       
        padding: 54px 50px; 
        padding-bottom: 10px;
        box-sizing: border-box;
            background-color: #f6f6f6;
            border-radius: 16px;
            box-sizing: border-box;
          
            
            a{
               display: flex;
               flex-direction: column;
               justify-content: center;
                
                margin-top: 10px;
                margin-bottom: 10px;
                .wc-block-grid__product-title{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    width: 100%;
                    color: #211c24;
                    text-align: center;
                    height: 30px;
                margin-top: 20px;
                margin-bottom: 20px;
                }
            }
            .price{
                height: 30px;
                margin-top: 20px;
                margin-bottom: 20px;
                .amount{
                    font-weight: 600;
                    font-size: 24px;
                }
            }
            

        }
        .wp-block-button{
           /*  height: 50px; */
            padding: 12px;
            border-radius: 6px;
            border: 1px solid #211c24;
            background-color: #211c24;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            
            a.add_to_cart_button{
               background-color: transparent;
               color: white;
               font-weight: 600;
               font-family: "SF Pro Display", sans-serif;
               font-size: 14px;
              
               margin: 0;
               
               
    
            }
        }
    }
    
 }
}

/* main.content-frontpage .new_arrivals ul li.wc-block-grid__product{
    border: none;
   margin: 0;
   
} */