.content-area {
  main {
    margin: 3% 10%;
    .woocommerce-breadcrumb {
      color: $primary_text_color;
      font-size: 16px;

      .highlighted {
        color: $secondary_text_color;
      }
      span {
        color: $secondary_text_color;
        margin: 0 10px;
      }
      a {
        color: $secondary_text_color;
      }
    }
    .woocommerce-products-header {
      display: none;
    }
    .products-filters-div {
      display: flex;
      flex-direction: row;
      margin-top: 5%;

      .wcapf-before-products {
        position: relative;
        padding-top: 5%;
      }

      .wcapf-active-filter-items {
        margin-bottom: 1.5%;
      }

      .filters-holding-div {
        min-width: 25%;
        margin-right: 5%;
        margin-top: 1%;

        div {
          p {
            display: none;
          }
          div {
            h4 {
              font-size: 18px;
              padding-bottom: 4%;
              border-bottom: 1px solid #b5b5b5;
              margin-bottom: 4%;
            }
            div div {
              .wcapf-noui-connect {
                background: #414141;
              }
              ul li div label span {
                color: #000000 !important;
              }
              .wcapf-search-box {
                display: flex;

                input {
                  padding: 10px;
                  padding-left: 20%;
                  font-size: 14px;
                  font-weight: 500;
                  width: 100%;
                  border-radius: 8px;
                  border-color: #e1e1e1;
                  background-color: #f5f5f5;
                  border: 1px solid #f5f5f5;
                  margin-bottom: 5%;
                }
                span {
                  left: 5%;
                  margin-bottom: 5%;
                }
              }
              div {
                .wcapf-range-start {
                  justify-content: start;
                }
                .wcapf-range-end {
                  justify-content: end;
                }
                .wcapf-range-separator {
                  color: #b5b5b5;
                }
                span input {
                  padding: 10px;
                  font-size: 14px;
                  font-weight: 400;
                  width: 90%;
                  border-radius: 8px;
                  border-color: #e1e1e1;
                  background-color: #e1e1e100;
                  border: 1px solid #b5b5b5;
                }
              }
            }
          }
        }
      }

      .product-holder-listing {
        .woocommerce-notices-wrapper {
          margin: 0;
        }

        select {
          padding: 12.5px;
          font-size: 15px;
          border-radius: 8px;
          border-color: #e1e1e1;
          background-color: #e1e1e100;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding-right: 20px;
          background-image: url(../images/arrow-down.png);
          background-repeat: no-repeat;
          background-position: calc(100% - 15px) center;
          outline: none;
          width: 250px;
          position: absolute;
          top: 0;
          right: 0;
        }

        .woocommerce-result-count {
          font-weight: 500;
          font-size: 16px;
          color: $secondary_text_color;
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          label {
            font-size: 20px;
            color: $primary_text_color;
            margin-left: 5px;
          }
        }
        .items-holder {
          margin-top: 20px;
          div {
            width: 100%;
            display: flex;
            justify-content: end;
            margin: 0;

            .favorite-button {
              border: none;
              background-color: rgba(0, 0, 0, 0);
              margin: 10px 0;
            }
          }
          ul {
            padding: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin: 0 auto;
            margin-bottom: 10%;

            li {
              padding: 10px;
              background-color: #f6f6f6;
              border-radius: 9px;
              width: calc(31% - 12px);
              position: relative;

              .added_to_cart {
                color: #000000;
              }
              a {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                img {
                  max-width: 160px;
                  height: auto;
                }
                h2 {
                  font-size: 16px;
                  font-weight: 500;
                  color: $primary_text_color;
                  text-align: center;
                  margin: 20px 10px;
                }
                .star-rating {
                  span {
                    display: none;
                  }
                }
                .price {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin-bottom: 105px;
                  ins span {
                    color: rgb(255 26 26);
                    margin-left: 5px;
                  }
                  del span {
                    font-size: 14px;
                    text-decoration: line-through;
                    width: 110%;
                  }
                }
                .woocommerce-product-rating {
                  display: flex;
                  justify-content: center;
                  margin-bottom: 20px;
                }
                .onsale {
                  display: block;
                  position: absolute;
                  top: 4%;
                  left: 8%;
                  font-weight: 600;
                  color: rgb(255 26 26);
                  letter-spacing: 1px;
                }
              }
              .product_type_simple,
              .product_type_variable {
                padding: 12px;
                font-size: 14px;
                font-weight: 500;
                color: white;
                background-color: #000000;
                border-radius: 8px;
                width: 70%;
                max-height: 20px;
                margin: 20px auto;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
              }
              .woocommerce-Price-amount {
                font-size: 24px;
                font-weight: 600;
                color: $primary_text_color;
              }
            }
          }
          .woocommerce-pagination {
            display: none;
          }
          .nomore-p {
            margin-bottom: 0;
          }
        }
        .button-div {
          width: 100%;
          text-align: center;
          #load-more-btn {
            font-size: 16px;
            font-size: 500;
            border-radius: 6px;
            padding: 20px;
            width: 200px;
            border: 1px solid #000000;
            background-color: #000000;
            margin: 0 auto 5%;
            color: white;
          }
        }
      }
    }
  }
}
#sidebar {
  display: none;
}
.stylish-checkbox-radio input[type="checkbox"]:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
}
