.content-area {
  main {
    margin: 3% 10%;
    .woocommerce-breadcrumb {
      color: $primary_text_color;
      font-size: 16px;

      .highlighted {
        color: $secondary_text_color;
      }
      span {
        color: $secondary_text_color;
        margin: 0 10px;
      }
      a {
        color: $secondary_text_color;
      }
    }
    .woocommerce-products-header {
      display: none;
    }
    div {
      margin-top: 5%;
      .woocommerce-notices-wrapper {
        margin: 0;
      }
      .filter-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        select {
          padding: 12.5px;
          font-size: 15px;
          border-radius: 8px;
          border-color: #e1e1e1;
          background-color: #e1e1e100;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding-right: 20px;
          background-image: url(../images/arrow-down.png);
          background-repeat: no-repeat;
          background-position: calc(100% - 15px) center;
          outline: none;
          width: 250px;
        }

        .woocommerce-result-count {
          font-weight: 500;
          font-size: 16px;
          color: $secondary_text_color;
          display: flex;
          align-items: center;
          label {
            font-size: 20px;
            color: $primary_text_color;
            margin-left: 5px;
          }
        }
      }
      .items-holder {
        margin-top: 20px;
        div {
          width: 100%;
          display: flex;
          justify-content: end;
          margin: 0;

          .favorite-button {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            margin: 10px 0;
          }
        }
        ul {
          padding: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 16px;
          margin: 0 auto;

          li {
            padding: 10px;
            width: 30%;
            background-color: #f6f6f6;
            border-radius: 9px;

            a {
              display: flex;
              flex-direction: column;
              align-items: center;

              h2 {
                font-size: 16px;
                font-weight: 500;
                color: $primary_text_color;
                text-align: center;
                margin: 20px 10px;
              }
            }
            .product_type_simple {
              padding: 12px;
              font-size: 14px;
              font-weight: 500;
              color: white;
              background-color: #000000;
              border-radius: 8px;
              width: 70%;
              margin: 20px auto;
            }
            .woocommerce-Price-amount {
              font-size: 24px;
              font-weight: 600;
              color: $primary_text_color;
            }
          }
        }
      }
    }
  }
}
#sidebar {
  display: none;
}
